<table>
  <tr>
    <td><%= t('store_email') %>:</td>
    <td><%= Spree::Config[:store_email] %></td>
  </tr>
  <tr>
    <td><%= t('store_phone') %>:</td>
    <td><%= Spree::Config[:store_phone] %></td>
  </tr>
</table>