<p>
  <%= label_tag 'preferences[contacts][email]', t('store_email') %><br />
  <%= text_field_tag 'preferences[contacts][store_email]', Spree::Config[:store_email] %>
</p>
<p>
  <%= label_tag 'preferences[contacts][phone]', t('store_phone') %>:<br />
  <%= text_field_tag 'preferences[contacts][store_phone]', Spree::Config[:store_phone] %>
</p>