<% if Spree::Synergy::Config[:juridical_enabled] %>
  <table>
    <tr>
      <td><%= t(:account_status) %>:</td>
      <td><%= current_user.juridical? ? t(:juridical) : t(:physical) %></td>
    </tr>
  </table>

  <p><%= link_to t(:change), edit_status_account_path %></p>
<% end %>