<h1><%= t(:page_not_found) %></h1>

<p>Запрошенному вами URL не соответствует ни одна страница сайта.</p>
<p>Возможные причины:</p>
<ul>
	<li>Вам могли прислать неверную ссылку.</li>
	<li>Вы могли набрать адрес с ошибкой.</li>
	<li>Страница могла быть удалена с изменением структуры сайта.</li>
	<li>Товар более недоступен для продажи.</li>
</ul>

<p>Если вы уверены, что адрес правильный, попробуйте начать поиск информации с <%= link_to 'главной страницы сайта', '/' %></p>

<% content_for :sidebar do %>
  <%= hook :taxon_sidebar_navigation do %>
    <%= render :partial => "shared/taxonomies" %>
  <% end %>
<% end %>
